<html>
  <head>
    <meta charset ="utf-8" />
    <title>Very cool site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<body>
<b><big><p>Hello! Let's count the GCD :)</p></big></b>

<form action="/" method="GET">
  <input type="text" value={{a}} name="A" />
  <input type="text" value={{b}} name="B" />
  <input type="submit" value="Get!">
</form>

<p>GCD is <b>{{GCD}}</b></p>

<br>

<b><big><p>What about linear presentation ?</p></big></b>

<form action="/" method="GET">
  <input type="text" value={{p}} name="P" />
  <input type="text" value={{q}} name="Q" />
  <input type="submit" value="Get!">
</form>

<p>Here are our GCD and odds: <b>{{EGCD}}</b></p>

<br>

<b><big><p>Prime number test:</p></big></b>

<form action="/" method="GET">
  <input type="text" value={{m}} name="M" />
  <input type="submit" value="Get!">
</form>

<p><b>{{TEST}}</b></p>

<br>

<b><big><p>Euler function:</p></big></b>

<form action="/" method="GET">
  <input type="text" value={{n}} name="N" />
  <input type="submit" value="Get!">
</form>

<p>We get: <b>{{FI}}</b></p>
</body>
</html>